html,body {
	height:100%;
		background:url("../img/sprinkles.png");
}

h1 {
	font-family: 'Lobster', 'cursive';
	font-size: 50px;
}

section {
	padding: 0; 
	min-height:calc(100% - 1px);
}


#landing-page {
	//background-color: #F1D9B5;
	//background:url("../img/sprinkles.png");
	color:#200705;
}

#landing-page a{
	color:#200705;
	text-decoration: none;
}

#landing-page a:hover{
	color: #A33246;
}

#top-banner {
	#left: 0;
	position: absolute;
	#top: 0;
	background:url("../img/pattern.png");
	background-repeat:repeat-x;
	background-size: 70px;
	//min-height: 50px;
	min-height: 30%;
	#width:100%;
}
#logo {
	//position: relative;
	//display: block;
	margin-top: 7%;
	//padding-top: 20px;
	padding-bottom: 30px;
	//background:url("../img/logoOTG.png" no-repeat);
}

#social-links{
	//position: relative;
	border-top: 2px dotted;
	display: block;
	padding-top: 15px;
	#padding-bottom: 30px;
}

#arrow {
	//display: block;
	position: absolute;
	bottom: 0;
	//height: 60px;
	animation: 2s linear 0s normal none infinite bounce;
	-moz-animation: bounce 2.5s linear infinite;
}

 @-moz-keyframes bounce{
 from{bottom:1px;}
 //5%{bottom:2px;}
 10%{bottom:3px;}
 15%{bottom:6px;}
 20%{bottom:3px;}
 25%{bottom:0px;}
 30%{bottom:3px;}
 35%{bottom:6px;}
 45%{bottom:3px;}
 50%{bottom:0px;}
 55%{bottom:0px;}
 60%{bottom:0px;}
 to{bottom:0px;}
 }


#main {
	background:url("../img/sprinkles.png");
	#z-index:-10;
	min-height: 100%;
}

#content.affix{
	position: relative;
	padding-top: 170px;
}

#news {
	padding-bottom: 10px;
	border-bottom: 1px dotted;
}

.footer {
	position: relative;
	#height: 30%;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: #200705;
	color: #F1D9B5;
	font-size: 16px;
	//z-index:10;
	bottom: 0;
}

.footer a{
	color: #F1D9B5;
	font-size: 13px;
	text-decoration: none;
}
.footer a:hover{
	color: #A33246;
}

#social-footer {
	position: relative;
	bottom: 0;
}
#nav {
	#background:url("img/sprinkles.png");
	#position: relative;
	#left: 0;
	#top: - 10px;
	height: 70px;
	color: #200705;
	background: url("../img/transparent70.png");
	background-repeat:;
	z-index: 10;
}
.navbar-brand  img{
	#padding-top: 7px;
	padding: 5px;
}

.navbar-inverse {
	//background-color: #200705;
	background:url("../img/pattern.png");
	background-repeat:repeat-x;
	background-size: 70px;
	z-index: 10;
	color: #200705;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    font-size: 17px;
	//background-color: #200705;
	color: #200705;
}
#nav h1{
	color: #F1D9B5;
	border-bottom: 1px dashed;
	padding-bottom: 5px;
}

#nav h1 a{
	color: #F1D9B5;
}

#nav h1 a:hover{
	color: #FFF;
	text-decoration: none;
}

#nav.affix {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	//padding-bottom: 400px;
	#z-index:0;
	z-index: 10;
}

		
#imagewall {
	position: relative;
	width:100%;
	height: 100%
	margin-left:-15px;
	
}

#instafeed {
	position: float;
	#height: 100%;
	width:100% !important;
	z-index: 2;

}

#newsletter {
	background-color: #6982A0;
	padding-bottom: 30px;
	#padding-top: 15px;
	#height: 200px;
}

#twitter-feed {
//	border-left: 3px solid;
}

#rsvp {
	padding-top: 30px;
}

.section-header {
	padding-top: 20px;
	border-bottom: 1px dotted;
	
}

#members {
	padding-bottom: 30px;
}

.block-content {
	padding: 5px;
	background: url("../img/transparent60.png");
	background-repeat;
}

.block-header {
	margin-top: 30px;
	padding: 5px;
	background-color: #200705;
	color: #ffffff;
	font-size: 30px;

}

#top-link-block.affix-top a{
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 15px;
    color: #fff;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 15px;
	z-index: 10;
	color: #fff;
}
#top-link-block.affix a{
	color: #fff;
	opacity: 0.7;
}
#top-link-block.affix a:hover{
	color: #200705;
	opacity: 0.7;
}