html,body {
	height:100%;
	//	background:url("../img/sprinkles.png");
}

h1 {
	font-family: 'Lobster', 'cursive';
	font-size: 50px;
}

section {
	padding: 0;
	min-height:calc(100% - 1px);
}


#landing-page {
	// vertical-align:middle;
	//background-color: #F1D9B5;
	//background:url("../img/sprinkles.png");
	color:#F1D9B5;
	background: url("../img/back_blur.jpg") 25% no-repeat fixed;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	//position: relative;
	-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
}

#landing-page a{
	color:#F1D9B5;
	text-decoration: none;
}

#landing-page a:hover{
	//color: #A33246;
}

#top-banner {
	vertical-align: top;
	#left: 0;
	//position: absolute;
	#top: 0;
	background:url("../img/pattern.png");
	background-repeat:repeat-x;
	background-size: 70px;
	//min-height: 50px;
	//min-height: 30%;
	height: 35px;
	#width:100%;
}


#logo {
	
	//display:inline-block !important;
    //vertical-align: bottom;
	line-height: 100%;
	min-height: 300px;
	//position: relative;
	//display: block;
	//margin-top: 7%;
	//margin-top: -40px;
	padding-top: 20px;
	padding-bottom: 30px;
	//background:url("../img/logoOTG.png" no-repeat);
}

#social-links{
	//position: relative;
	border-top: 2px dotted;
	//display: block;
	padding-top: 15px;
	#padding-bottom: 30px;
}

#arrow {
	vertical-align: bottom;
	//display: block;
	position: absolute;
	bottom: 0;
	//height: 60px;
	animation: 2s linear 0s normal none infinite bounce;
	-moz-animation: bounce 2.5s linear infinite;
}

 @keyframes bounce{
 from{bottom:1px;}
 //5%{bottom:2px;}
 10%{bottom:3px;}
 15%{bottom:6px;}
 20%{bottom:3px;}
 25%{bottom:0px;}
 30%{bottom:3px;}
 35%{bottom:6px;}
 45%{bottom:3px;}
 50%{bottom:0px;}
 55%{bottom:0px;}
 60%{bottom:0px;}
 to{bottom:0px;}
 }


#main {
	background:url("../img/sprinkles.png");
	#z-index:-10;
	min-height: 100%;
}

#content.affix{
	position: relative;
	padding-top: 70px;
}

#news {
	padding-bottom: 10px;
	border-bottom: 1px dotted;
}

.footer {
	position: relative;
	#height: 30%;
	width: 100%;
	//padding-top: 30px;
	padding-bottom: 30px;
	//background-color: #200705;
	background-color: #6982A0;
	//color: #F1D9B5;
	color: #FFFFFF;
	font-size: 16px;
	//z-index:10;
	bottom: 0;
}

.footer a{
	//color: #F1D9B5;
	color: #E6E6E6;
	//font-size: 12px;
	text-decoration: none;
}
.footer a:hover{
	color: #A33246;
}

#social-footer {
	position: relative;
	padding-top: 30px;
	//bottom: 0;
}

.nav-pills {
	float:right;
	padding: 10px 10px 0 0;
}

#nav, #nav a {
	font-weight: bold;
	height: 70px;
	//padding-bottom: 20px;
	color: #C0C0C0;
	font-size: 15px;
	z-index: 10;
}

#nav a:hover{
	font-weight: bold;
	background: none;
	//background-color: #fff;
	//background-size: 20px;
	color: #000;
}

li.lin-active {
	text-decoration:none;
	background: none;
	color: #ffffff;
}

.navbar-brand  img{
	#padding-top: 7px;
	padding: 5px;
}

.navbar-inverse {
	background-color: #200705;
	#background:url("../img/pattern.png");
	background-repeat:repeat-x;
	//background-size: 70px;
	z-index: 10;
	color: #200705;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    font-size: 17px;
	//background-color: #200705;
	color: #200705;
}
#nav h1{
	color: #F1D9B5;
	border-bottom: 1px dashed;
	padding-bottom: 5px;
}

#nav h1 a{
	color: #F1D9B5;
}

#nav h1 a:hover{
	color: #FFF;
	text-decoration: none;
}

#nav.affix {
	position: fixed;
	background-color: #fff;
	top: 0;
	width: 100%;
	#height: 100px;
	//padding-bottom: 400px;
	#z-index:0;
	z-index: 10;
	-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
#nav.affix a:hover {
	color: #000;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#imagewall {
	position: relative;
	width:100%;
	height: 100%
	margin-left:-15px;

}

#instafeed {
	position: float;
	#height: 100%;
	width:100% !important;
	z-index: 2;

}

#newsletter {
	background-color: #6982A0;
	padding-bottom: 30px;
	#padding-top: 15px;
	#height: 200px;
}

#twitter-feed {
//	border-left: 3px solid;
}

#rsvp {
	padding-top: 30px;
}

.section-header {
	padding-top: 20px;
	border-bottom: 1px dotted;

}

#members {
	padding-bottom: 30px;
}

.block-content {
	padding: 5px;
	background: url("../img/transparent60.png");
	background-repeat;
}

.block-header {
	margin-top: 30px;
	padding: 5px;
	background-color: #200705;
	color: #ffffff;
	font-size: 30px;

}

#top-link-block.affix-top a{
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 15px;
    color: #fff;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 15px;
	z-index: 10;
	color: #fff;
}
#top-link-block.affix a{
	color: #fff;
	opacity: 0.7;
}
#top-link-block.affix a:hover{
	color: #200705;
	opacity: 0.7;
}

#separator{
	background: url("../img/vue-directe.jpg") no-repeat fixed;
	height: 150%;
	margin: 0 auto;
	//width: 100%;
	//position: relative;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#separator2{
	background: url("../img/back.jpg") no-repeat fixed;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	position: relative;
	-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
}


.row > .span3 {
    display: inline-block !important;
    vertical-align: middle !important;
}

p {
	font-family: 'Fjord One', serif;
	font-size: 18px;
}

#footer {
	display: none !important;
}