---
layout: default
title: Blog
---

<section id="separator" data-speed="6" data-type="background" style="height: 150px;">
</section>

 <section id="main2" style="background: url('{{ site.url }}/img/transparent70.png');
  background-repeat;">
		<div class="container-fluid">
			<div id="blog" class="row">
				<div id="top-banner" class="col-md-12"></div>
				<div class="col-md-10 block-content col-md-offset-1" style="margin-top: 40px">
					<h1>Articles</h1>
				</div>
				<div class="col-md-10 block-content col-md-offset-1">
					<ul class="list-unstyled">
					  {% for post in site.posts %}
						<li style="padding-bottom: 10px;">
							<h3>
							<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/></h3>
							<h4 style="color:#C0C0C0"><span style="padding-right: 5px;" class="fa fa-clock-o"> </span>{{ post.date | date: "%b %-d, %Y" }} <span class="fa fa-comment" style="padding-left: 10px; padding-right: 5px; color:#AF6732;"> </span> <a class="post-link" style="color:#AF6732; font-weight: bold" href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{post.id}}"></a></h4>
							
						
							<div style="padding-left: 30px">
								{{ post.content | truncatewords:50}} <br> <strong>[...]</strong> <br>
								<a style="float: right; padding-top: 20px;" href="{{ post.url }}">Read more...</a><br><br>
							</div>
						</li>
					  {% endfor %}
					</ul>
				</div>
				<div class="col-md-10 col-md-offset-1" style="padding-bottom: 40px;">
				
				  <ul class="pager">
					{% if paginator.previous_page %}
						{% if paginator.previous_page == 1 %}
							<li class="previous"><a href="/">&larr; Older</a></li>
						{% else %}
							<li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
						{% endif %}
					{% else %}
						<li class="previous disabled"><a href="/">&larr; Older</a></li>
					{% endif %}
					
					{% if paginator.page == 1 %}
						<li><span class="active">1</span></li>
					{% else %}
						<li><a href="{{ site.url }}/blog">1</a></li>
					{% endif %}
					
					{% for count in (2..paginator.total_pages) %}
						{% if count == paginator.page %}
							<li><span class="active">{{ count }}</span></li>
						{% else %}
							<li><a href="/page{{ count }}">{{ count }}</a></li>
						{% endif %}
					{% endfor %}
					
					{% if paginator.next_page %}
						<li class="next"><a href="#">Newer &rarr;</a></li>
					{% else %}
						<li class="next disabled"><a href="#">Newer &rarr;</a></li>
					{% endif %}
				  </ul>
				</div>
			</div>
		</div>
</section>