

<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div id="social-footer" class="col-md-12 text-center">

						<ul class="list-inline">
					<li><a href="http://instagram.com" title="Instagram" onMouseOver="this.style.color='#3f729b';" onMouseOut="this.style.color='#F1D9B5';"><i class="fa fa-instagram fa-2x"> </i></a></li>
					<li><a href="https://www.facebook.com/oldtimegringo" title="Facebook" onMouseOver="this.style.color='#3b5998';" onMouseOut="this.style.color='#F1D9B5';"><i class="fa fa-facebook fa-2x"> </i></a></li>
					<li><a href="http://youtube.com" title="Youtube" onMouseOver="this.style.color='#b31217';" onMouseOut="this.style.color='#F1D9B5';"><i class="fa fa-youtube fa-2x"> </i></a></li>
					<li><a href="http://twitter.com" title="Twitter" onMouseOver="this.style.color='#55acee';" onMouseOut="this.style.color='#F1D9B5';"><i class="fa fa-twitter fa-2x"> </i></a></li>
					<li><a href="http://soundcloud.com" title="Soundcloud" onMouseOver="this.style.color='#f80';" onMouseOut="this.style.color='#F1D9B5';"><i class="fa fa-soundcloud fa-2x"> </i></a></li>
					<li><a href="http://spotify.com" title="Spotify" onMouseOver="this.style.color='#81b71a';" onMouseOut="this.style.color='#F1D9B5';"><i class="fa fa-spotify fa-2x"> </i></a></li>
					</ul>


				</div>
				<div id="legal"class="col-md-12 text-center" style="font-size: 15px">
					Copyright © 2014 <strong><a style="font-size: 15px" href="index.html">Old Time Gringo</a></strong> - Designed & Developed with ♥ by <strong><a style="font-size: 15px" href="index.html">Old Time Gringo</a></strong>
				</div>
				<div id="version"class="col-md-12 text-center">
					<p style="font-size: 12px">Version <strong>Alpha - 0.2</strong></p>
				</div>
			</div>
		</div>
	</div>
