

<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div id="top-banner" class="col-md-12"></div>
				<div id="social-footer" class="col-md-12">
					<div class="col-md-2 col-md-offset-1">
						<ul class="list-unstyled">
							<li><strong>Discover</strong></li>
							<li><a href="{{ site.url }}/music/">Music</a></li>
							<li><a href="{{ site.url }}/blog">Blog</a></li>
							<li><a href="{{ site.url }}/gigs">Gigs</a></li>
							<li><a href="{{ site.url }}/contact">Contact</a></li>	
						</ul>
					</div>
					<div class="col-md-2">
						<ul class="list-unstyled">
							<li><strong>Connect</strong></li>
							<li><a href="www.facebook.com/oldtimegringo">Facebook</a></li>
							<li><a href="www.twitter.com/oldtimegringo">Twitter</a></li>
							<li><a href="www.instagram/com/oldtimegrino">Instagram</a></li>
							<li><a href="www.soundcloud.com/old-time-gringo">Soundcloud</a></li>			
						</ul>
					</div>
					
					<div class="col-md-2 col-md-offset-4" style="font-size: 10px;">
						<img src="{{site.url}}/img/logoOTG.png" width="80px" height="80px" style="right:0; padding: 0" class="img-responsive" alt="Old Time Gringo">
						<strong>© <a style="font-size: 10px" href="{{ site.url }}/contact">Old Time Gringo</a></strong> <br/>
						Designed & Developed with ♥ <br/>by <strong><a style="font-size: 10px" href="{{ site.url }}/contact">Old Time Gringo</a></strong>	
					</div>
				</div>
			</div>
		</div>
	</div>
