

<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div id="top-footer" class="col-md-12"></div>
				<div id="social-footer" class="col-md-12">
					<div class="col-md-2 col-md-offset-1">
						<ul class="list-unstyled">
							<li><strong>Discover</strong></li>
							<li><a href="{{ site.url }}/music/">Music</a></li>
							<li><a href="{{ site.url }}/blog">Blog</a></li>
							<li><a href="{{ site.url }}/gigs">Gigs</a></li>
							<li><a href="{{ site.url }}/contact">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<ul class="list-unstyled">
							<li><strong>Connect</strong></li>
							<li><a href="www.facebook.com/oldtimegringo">Facebook</a></li>
							<li><a href="www.twitter.com/oldtimegringo">Twitter</a></li>
							<li><a href="www.instagram/com/oldtimegrino">Instagram</a></li>
							<li><a href="www.soundcloud.com/old-time-gringo">Soundcloud</a></li>
						</ul>
					</div>
<div class="col-md-2">
<form action="//oldtimegringo.us8.list-manage.com/subscribe/post?u=67008fcef16a7cf11781a6d48&amp;id=7f6fa63d2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal" role="form" target="_blank" novalidate>
	<div class="form-group">
	<label><i class="fa fa-envelope-square"> </i> Mailing list</label>
	<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Your Email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"></div>
	</div>
</form>
</div>


					<div class="col-md-2 col-md-offset-3" style="font-size: 10px;">
						<img src="{{site.url}}/img/logoOTG_white.png" width="80px" height="80px" style="right:0; padding-bottom: 10px;" class="img-responsive" alt="Old Time Gringo">
						<strong>© <a style="font-size: 10px" href="{{ site.url }}/contact">Old Time Gringo</a></strong> <br/>
						Designed & Developed with ♥ <br/>by <strong><a style="font-size: 10px" href="{{ site.url }}/contact">Old Time Gringo</a></strong>
					</div>
				</div>
			</div>
		</div>
	</div>
