<!-- Navbar

<div class="nav-wrapper">
<div id="nav">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
  <div class="row">

  <div class="col-md-12">
  <!--<a class="navbar-brand" href="#"><img src="img/tiny_logo.png" width ="60px"></a>
   .btn-navbar is used as the toggle for collapsed navbar content
    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="glyphicon glyphicon-bar"></span>
              <span class="glyphicon glyphicon-bar"></span>
              <span class="glyphicon glyphicon-bar"></span>
    </a>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li class="divider"></li>
      <li><a href="{{ site.url }}#main">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/gigs">Gigs</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/shop"> <span class="fa fa-shopping-cart"></span> Store</a></li>
      </ul>
      <ul class="nav pull-right navbar-nav">
    </div>
  </div>
  </div>
</div>
</div>
</div> -->
<!-- End Navbar -->

	<div id="nav" class="affix" style="height: 70px">
		<ul class="nav nav-pills">
			<li class="lin-active"><a href="/">Home</a></li>
			<li><a href="/music/">Music</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/gigs/">Gigs</a></li>
			<li><a href="/contact/">Contact</a></li>
			<li><a href="/shop/"> <span class="fa fa-shopping-cart"></span> Store</a></li>
		 </ul>
	</div>
